/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Red+Hat+Display:wght@400;700;900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(79, 72%, 55%);
  --first-color-light: hsl(79, 97%, 77%);
  --first-color-alt: hsl(79, 67%, 52%);
  --first-color-dark: hsl(79, 63%, 50%);
  --first-color-gray: hsl(79, 6%, 64%);
  --title-color: hsl(180, 4%, 98%);
  --title-color-black: hsl(180, 4%, 12%);
  --text-color: hsl(180, 4%, 72%);
  --text-color-light: hsl(180, 4%, 65%);
  --body-color: hsl(180, 12%, 8%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Red Hat Display', sans-serif;
  --second-font: 'Kaushan Script', cursive;
  --biggest-font-size: 2rem;
  --bigger-font-size: 1.5rem;
  --big-font-size: 1.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-bold: 700;
  --font-black: 900;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 6rem;
    --bigger-font-size: 3.5rem;
    --big-font-size: 2.75rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1124px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.section {
  padding: 4.5rem 0 2rem;
}

.section__data {
  display: flex;
  flex-direction: column;
  row-gap: .75rem;
  text-align: center;
  margin-bottom: 3rem;
}

.section__title, 
.section__title-border {
  font-size: var(--big-font-size);
  letter-spacing: 1.5px;
}

.section__subtitle {
  font-size: var(--h2-font-size);
  font-family: var(--second-font);
  font-weight: 400;
  letter-spacing: 1.5px;
  color: var(--first-color);
  transform: rotate(-2deg);
}

.section__titles {
  display: flex;
  column-gap: .75rem;
  justify-content: center;
}

.section__title-border {
  -webkit-text-stroke: 1px var(--text-color);
  color: transparent;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

.color-red {
  color: hsl(0, 80%, 64%);
}

.color-green {
  color: var(--first-color);
}

/*=============== HEADER & NAV ===============*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: background 0.4s;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--title-color);
  font-weight: var(--font-bold);
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.nav__logo img {
  height: 2.5rem;
  width: auto;
}

.nav__toggle,
.nav__close {
  display: flex;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

.nav__menu {
  position: fixed;
  width: 100%;
  background-color: var(--body-color);
  top: 0;
  right: -100%;
  height: 100%;
  padding: 6rem 2rem 3.5rem;
  transition: right 0.4s;
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav__item {
  list-style: none;
}

.nav__link {
  color: var(--text-color);
  font-weight: var(--font-bold);
  transition: color 0.4s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.nav__button {
  background-color: var(--first-color);
  border: none;
  padding: 0.75rem 1.5rem;
  color: var(--title-color-black);
  font-weight: var(--font-bold);
  cursor: pointer;
  transition: background 0.4s;
}

.nav__button:hover {
  background-color: var(--first-color-alt);
}

/* Show menu */
.show-menu {
  right: 0;
}

/* Change background header */
.scroll-header {
  background-color: var(--body-color);
  box-shadow: 0 1px 4px hsla(180, 4%, 15%, 0.1);
}

/* Active link */
.active-link {
  color: var(--first-color);
}

/*=============== HOME ===============*/
.home {
  position: relative;
  padding-bottom: 0;
}

.home__container {
  padding-top: 4rem;
  row-gap: 3rem;
}

.home__data {
  position: relative;
  text-align: center;
}

.home__subtitle {
  font-size: var(--bigger-font-size);
  -webkit-text-stroke: 1px var(--text-color);
  color: transparent;
}

.home__title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-black);
  margin: 0.5rem 0;
}

.home__subtitle,
.home__title {
  letter-spacing: 1.5px;
}

.home__description {
  margin-bottom: 2.5rem;
  color: var(--text-color-light);
}

.home__images {
  position: relative;
  display: flex;
  justify-content: center;
  height: 250px;
}

.home__images img {
  position: absolute;
}

.home__images img:nth-child(1) {
  width: 200px;
  top: 0;
}

.home__images img:nth-child(2) {
  width: 200px;
  bottom: 0;
}

/*=============== BUTTON ===============*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  padding: 1.125rem 2rem;
  color: var(--title-color-black);
  font-weight: var(--font-bold);
  transition: background 0.4s;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: var(--first-color-alt);
}

/*=============== LOGOS ===============*/
.logos__container {
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  justify-items: center;
}

.logos__img img {
  opacity: 0.4;
  transition: opacity 0.3s;
}

.logos__img img:hover {
  opacity: 0.6;
}

/*=============== PROGRAM ===============*/
.program__container {
  grid-template-columns: 229px;
  justify-content: center;
  row-gap: 2rem;
}

.program__card {
  display: grid;
  background-color: hsla(79, 6%, 64%, 0.07);
  padding: 1.5rem 2rem;
  border: 2px solid transparent;
  transition: background 0.4s, border 0.4s;
}

.program__img {
  width: 38px;
}

.program__shape {
  width: 50px;
  height: 50px;
  background-color: var(--first-color-gray);
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-bottom: 1rem;
  transition: background 0.4s;
}

.program__title {
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
}

.program__description {
  font-size: var(--small-font-size);
  letter-spacing: 0.5px;
  line-height: 150%;
}

.program__title,
.program__description {
  text-align: center;
}

.program__card:hover {
  background-color: var(--first-color);
  border: 2px solid var(--first-color-light);
}

.program__card:hover .program__shape {
  background-color: var(--first-color-light);
}

.program__card:hover .program__description {
  color: var(--title-color-black);
}

.program__card:hover .program__title {
  color: var(--title-color-black);
}

/*=============== CHOOSE ===============*/
.choose {
  padding-bottom: 0;
}

.choose__overflow {
  position: relative;
}

.choose__container {
  row-gap: 3rem;
}

.choose__content .section__data {
  margin-bottom: 2rem;
}

.choose__description {
  text-align: center;
  margin-bottom: 2.5rem;
}

.choose__data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
}

.choose__group {
  text-align: center;
}

.choose__number {
  font-size: var(--h1-font-size);
  font-family: var(--second-font);
  font-weight: 400;
  margin-bottom: 0.25rem;
}

.choose__subtitle {
  font-size: var(--small-font-size);
}

.choose__triangle {
  height: 325px;
  position: absolute;
  left: 0;
  bottom: 0;
  clip-path: polygon(0 0, 0 100%, 100% 100%);
}

.choose__triangle-1 {
  width: 305px;
  background-color: var(--first-color);
}

.choose__triangle-2 {
  width: 205px;
  background-color: var(--first-color-alt);
}

.choose__triangle-3 {
  width: 105px;
  background-color: var(--first-color-dark);
}

.choose__img {
  width: 260px;
  display: block;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

/*=============== PRICING ===============*/
.pricing__container {
  grid-template-columns: 285px;
  justify-content: center;
  row-gap: 2rem;
}

.pricing__card,
.pricing__shape,
.pricing__list {
  display: grid;
}

.pricing__card {
  row-gap: 2rem;
  background-color: hsla(79, 6%, 64%, 0.07);
  padding: 2rem 2.5rem;
  border: 2px solid transparent;
  transition: background 0.4s, border 0.4s;
}

.pricing__img {
  width: 35px;
}

.pricing__shape {
  width: 60px;
  height: 60px;
  background-color: var(--first-color-gray);
  border-radius: 50%;
  place-items: center;
  margin-bottom: 1rem;
}

.pricing__title {
  font-size: var(--h3-font-size);
  color: var(--text-color);
  margin-bottom: 1rem;
}

.pricing__number {
  font-size: var(--h1-font-size);
}

.pricing__list {
  row-gap: 1rem;
}

.pricing__item {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  font-size: var(--small-font-size);
}

.pricing__item i {
  font-size: 1.25rem;
  color: var(--first-color);
}

.pricing__button {
  background-color: var(--title-color);
  color: var(--title-color-black);
}

.pricing__button:hover {
  background-color: var(--title-color);
}

.pricing__card:hover {
  background-color: var(--first-color);
  border: 2px solid var(--first-color-light);
}

.pricing__card:hover .pricing__shape {
  background-color: var(--first-color-light);
}

.pricing__card:hover .pricing__item i {
  color: var(--title-color-black);
}

.pricing__card:hover .pricing__title,
.pricing__card:hover .pricing__number,
.pricing__card:hover .pricing__item {
  color: var(--title-color-black);
}

/*=============== CALCULATE ===============*/
.calculate {
  padding-bottom: 0;
}

.calculate__container {
  row-gap: 4rem;
}

.calculate__content .section__titles {
  margin-bottom: 2rem;
  text-align: center;
}

.calculate__description {
  text-align: center;
  margin-bottom: 2.5rem;
}

.calculate__form {
  display: grid;
  row-gap: 1rem;
}

.calculate__box {
  position: relative;
  border: 2px solid var(--first-color-light);
}

.calculate__input {
  width: 100%;
  background: transparent;
  padding: 1.5rem;
  padding-right: 4rem;
  color: var(--title-color);
  font-size: var(--h3-font-size);
  border: none;
  outline: none;
}

.calculate__input::placeholder {
  color: var(--text-color-light);
}

.calculate__label {
  position: absolute;
  right: 1.5rem;
  top: 1.25rem;
  color: var(--title-color);
}

.calculate__form .button {
  margin-top: 1.5rem;
}

.calculate__img {
  width: 200px;
  justify-self: center;
}

.calculate__message {
  position: absolute;
  transform: translateY(1rem);
}

/*=============== FOOTER ===============*/
.footer {
  padding-block: 3rem 2rem;
}

.footer__container {
  row-gap: 4rem;
  padding-top: 1rem;
}

.footer__logo,
.footer__description {
  color: var(--title-color);
}

.footer__logo,
.footer__title,
.footer__link {
  color: var(--title-color);
}

.footer__logo {
  display: inline-block;
  font-size: var(--h2-font-size);
  font-family: var(--second-font);
  margin-bottom: 1.5rem;
}

.footer__logo img {
  height: 4rem;
  width: auto;
}

.footer__title {
  font-size: var(--h3-font-size);
  margin-bottom: 1.5rem;
}

.footer__links,
.footer__social {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}

.footer__link {
  transition: color 0.4s;
}

.footer__link:hover {
  color: var(--first-color);
}

.footer__social {
  flex-direction: row;
  column-gap: 1.5rem;
}

.footer__social-link {
  font-size: 1.5rem;
  color: var(--first-color);
  transition: transform 0.4s;
}

.footer__social-link:hover {
  transform: translateY(-0.25rem);
}

.footer__copy {
  color: var(--text-color-light);
  font-size: var(--small-font-size);
  text-align: center;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: hsl(79, 4%, 15%);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: hsl(79, 4%, 25%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(79, 4%, 35%);
}

/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -30%;
  background-color: var(--first-color);
  display: inline-flex;
  padding: 0.35rem;
  color: var(--title-color-black);
  font-size: 1.25rem;
  z-index: var(--z-tooltip);
  transition: 0.3s;
}

.scrollup:hover {
  transform: translateY(-0.25rem);
}

/* Show Scroll Up*/
.show-scroll {
  bottom: 3rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .section__titles {
    flex-direction: column;
    row-gap: 0.25rem;
  }

  .home__triangle,
  .choose__triangle {
    height: 255px;
  }

  .home__triangle-3,
  .choose__triangle-1 {
    width: 260px;
  }

  .home__triangle-2,
  .choose__triangle-2 {
    width: 180px;
  }

  .home__triangle-1,
  .choose__triangle-3 {
    width: 90px;
  }

  .choose__img {
    width: 195px;
  }

  .pricing__container {
    grid-template-columns: 250px;
  }

  .pricing__card {
    padding: 1.5rem;
  }

  .footer__content {
    grid-template-columns: 1fr;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .nav__menu {
    width: 50%;
  }

  .home__container,
  .choose__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .home__data,
  .choose__data,
  .choose__data .section__titles,
  .calculate__description {
    text-align: initial;
  }

  .logos__container {
    grid-template-columns: repeat(4, 1fr);
  }

  .program__container {
    grid-template-columns: repeat(2, 225px);
    gap: 2.5rem;
  }

  .choose__content {
    order: 1;
  }

  .choose__data {
    justify-items: flex-start;
  }

  .choose__img {
    order: 2;
  }

  .choose__img img {
    position: absolute;
    width: initial;
  }

  .pricing__container {
    grid-template-columns: repeat(2, 285px);
    gap: 2.5rem;
  }

  .calculate__container {
    grid-template-columns: 1fr 0.8fr;
    align-items: center;
  }

  .calculate__form {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }

  .calculate__form .button {
    grid-column: 1 / 3;
  }

  .footer__container {
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }

  .footer__content {
    grid-template-columns: repeat(3, max-content);
    column-gap: 4rem;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .nav {
    height: calc(var(--header-height) + 2rem);
    column-gap: 4rem;
  }

  .nav__close,
  .nav__toggle {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 4rem;
  }

  .nav__link {
    color: var(--text-color);
    font-weight: var(--font-bold);
    transition: color 0.4s;
  }

  .nav__link:hover {
    color: var(--first-color);
  }

  .section {
    padding: 7rem 0 2rem;
  }

  .home__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 2rem;
  }

  .home__data {
    text-align: initial;
  }

  .home__description {
    margin-bottom: 3rem;
  }

  .program__container {
    grid-template-columns: repeat(4, 225px);
    gap: 2.5rem;
  }

  .choose__content {
    column-gap: 6rem;
  }

  .choose__group {
    text-align: initial;
  }

  .choose__img {
    width: 350px;
  }

  .pricing__container {
    grid-template-columns: repeat(3, 285px);
    gap: 2.5rem;
    padding-top: 2rem;
  }

  .calculate__container {
    column-gap: 5rem;
  }

  .calculate__img {
    width: 300px;
  }

  .calculate__description {
    width: 615px;
    margin-bottom: 3.5rem;
  }

  .footer__content {
    column-gap: 5rem;
  }

  .scrollup {
    right: 3rem;
  }
}
